@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }

  nav {
    @apply max-w-7xl flex mx-auto justify-between px-4 py-4 absolute top-0 w-full left-0 right-0 z-50;
  }

  nav img {
    @apply h-[35px] md:h-[40px] lg:h-[50px];
  }

  nav ul {
    @apply hidden md:flex items-center gap-6 text-white;
  }

  nav ul .btn {
    @apply bg-[#ff5a3c] py-2 px-4 text-white font-bold rounded-md;
  }
}